<%- include("../layout/header") %>

<form id="loginForm" action="/admin/sample" method="post">
    <!-- Login form fields here -->
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <% if (typeof redirect != 'undefined') { %>
        <input type="hidden" name="redirect" value="<%= redirect %>">
    <% } %>
    <button type="submit">Login</button>
</form>


<%- include("../layout/footer") %>