<%- include('../layout/header') %>
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden py-6 text-black sm:py-12">
    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
      <div class="relative left-1/2 -z-10 flex aspect-[1155/678] h-screen w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] items-center justify-center bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-50 sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="relative bg-white px-6 pb-8 pt-10 shadow-xl sm:mx-auto sm:min-w-[35rem] sm:max-w-2xl sm:rounded-lg sm:px-10">
      <p class="flex items-center justify-center text-sm font-medium">Your account has been
        <span class="text-red-600 px-1">blocked</span> 
        due to violation of our
        <a href="/privacy" class="text-blue-700 px-1" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        </p>
    </div>
  </div>  
<%- include('../layout/footer') %>